div(id='footer')
	footer
		p(align="left" style="padding-left:10px; font-size: 12px; padding-top: 2px;") Support Us! CWZfS4viQ28mGCpeTEbMme2eZZFZ3SGtJE |
			div(class="footertab")
				p(align="right") CannaPay Copyright 2014
