#cssmenu
    ul
        li
            img(src='images/cannapay.png' )
        li
          a(href="/") Home
        li
          a(href="/trade") Trade 
          ul
            li
              a(href='/orders') Open Trades
            li
              a(href="/trades") Trade History
        li
          a(href='/Invoices') Invoices
        li
          a(href='/settings') Settings
        li
          a(href='/apidocs') API Documentation
        li
          a(href='/logout') Logout
        li(style='')
          a(title='Fullscreen Mode'): i(id='fullscreen' class='fa fa-expand fa-2x' style='cursor: pointer; hand;')
    
